<!--

# -*- coding: utf-8 -*-
"""
Created on Thu Apr 20 14:13:53 2017

@author: Allison Kaufman
"""


-->


{% block content %}

  <h2>Welcome to the Weather App!</h2>
  <p>Hello {{ user.username }}!</p>

  <form action="http://localhost:8000/OWMapp/weather/">
    <input type="submit" value="Find Weather Conditions" />
  </form>

  <form action="http://localhost:8000/OWMapp/activities/">
    <input type="submit" value="Find Places to Visit" />
  </form>

  <form action="http://localhost:8000/OWMapp/login/">
    <input type="submit" value="Login To The Site" />
  </form>

  <form action="http://localhost:8000/OWMapp/logout/">
    <input type="submit" value="Log out of the Site" />
  </form>

{% endblock %}